@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.bg-shopee-gradient {
  background: linear-gradient(#ee4d2d, #ff7337);
}
.title{
  @apply max-w-7xl mx-auto;
}
.main {
  @apply bg-gray-600;
}